*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

h1{ 
    position: relative;
    z-index: 1;
    font-size: 3rem;
}

.main-box{
    position: relative;
    width: 60%;
    max-width: 670px;
    height: 100%;
    border: 1px solid white 0px 1px;
    border-radius: 50px;
    min-height: 400px;
    background: linear-gradient(125deg, #00feba , #5b548a);
    display: flex;   
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 5% 6%;
    font-size: 70px;
    text-align: center;
    line-height: 125%;

}

.buttons{
    width: 28%;
    height: 90px;
    margin-top: 10px;
    background: whitesmoke;
    border: 1px solid white 0px 1px ;
    border-radius: 10px;
    cursor: pointer;
}

#restart{
    width: 120px;
    height: 45px;
    border: 1px solid lightseagreen;
    background: whitesmoke;
    color: lightseagreen;
    border-radius: 10px;
    font-size: 1.8rem;
}
